// MODAL
.modalHeader {
  background-color: var(--clr-primary-main);
  text-align: center;
}

.btnContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-10);
}

.actionBtn {
  width: 200px;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: var(--clr-primary-main);
  color: var(--clr-primary-10);
  border: none;
}

.actionBtn:hover {
  background-color: var(--clr-dark-red);
  color: var(--clr-primary-10);
}

.loginText {
  border-bottom: 1px solid var(--clr-primary-1);
}

.loginText:hover {
  color: var(--clr-primary-4);
}
