.recipeWrapper {
  background-color: var(--clr-primary-8);
}

.btnContainer {
  background-color: var(--clr-primary-10);
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.actionBtn {
  width: 200px;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: var(--clr-primary-red);
  color: var(--clr-primary-10);
  border: none;
}
.imgContainer {
  width: 100%;
}

.img {
  width: 100%;
  object-fit: contain;
}

.recipeInfoContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.recipeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingContainer {
  text-align: left;
}

.ing {
  margin-bottom: 0.5rem;
}

.instructionsContainer {
  text-align: left;
}

.instructionsList {
  margin: 0 1rem;
}

.instruction {
  padding: 0 0.5rem 0.5rem;
}

.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 10px;
  font-size: 2rem;
  background-color: var(--clr-primary-7);
  color: var(--clr-primary-red);
  padding: 0.75rem;
  z-index: 1;
  border-radius: 50px;
  border: none;
}

.trashIcon {
  left: 10px;
}

.bookmarkIcon {
  right: 10px;
}
