.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.noRecipesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.text {
  margin: 0;
}

.btn {
  padding: 0.5rem;
  border: 1.5px solid var(--clr-primary-3);
  border-radius: 10px;
  width: 300px;
  background-color: var(--clr-primary-7);
}

.btn:hover {
  background-color: var(--clr-primary-main);
}

.imgContainer {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}

.img {
  object-fit: contain;
  width: 100%;
  border-radius: 25px;
}

@media (min-width: 450px) {
  .text {
    font-size: 1.25rem;
  }

  .btn {
    font-size: 1rem;
  }
}

@media (min-width: 600px) {
  .text {
    font-size: 1.25rem;
  }

  .imgContainer {
    width: 450px;
  }

  .btn {
    width: 450px;
    font-size: 1.15rem;
  }
}

@media (min-width: 1000px) {
  .noRecipesContainer {
    gap: 0;
  }

  .text {
    font-size: 1.25rem;
  }

  .imgContainer {
    width: 500px;
  }

  .btn {
    width: 500px;
    font-size: 1.15rem;
  }
}
