.listContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  text-align: left;
  padding: 2rem 0;
}

.category {
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--clr-primary-3);
}

.ingItem {
  text-transform: capitalize;
  padding: 0 0.5rem;
  text-align: left;
}

@media (min-width: 400px) {
  .listContainer {
    gap: 4rem;
  }
}

@media (min-width: 550px) {
  .listContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 840px) {
  .listContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
