.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title {
  padding: 2rem 0;
}
.imgContainer {
  // height: 400px;
  width: 300px;
  text-align: center;
}

.img {
  object-fit: conver;
  // height: 100%;
  width: 100%;
}

.recipesContainer {
  display: grid;
  grid-template-columns: repeat(250px, 1fr);
  gap: 2rem;
}

.text {
  margin: 0;
}

.btn {
  background-color: var(--clr-primary-gold);
  padding: 0.5rem;
  border: none;
  margin: 1rem 0 1rem;
  width: 300px;
}

.btn:hover {
  background-color: var(--clr-primary-red);
}

@media (min-width: 600px) {
  .imgContainer {
    height: 550px;
  }

  .recipesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .recipesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1201px) {
  .imgContainer {
    width: 400px;
  }
}
