.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 0;
}

.backBtn {
  background-color: transparent;
  color: var(--clr-primary-1);
  font-size: 2rem;
  border: none;
  text-align: left;
  margin-bottom: 2rem;
  &:hover {
    color: var(--clr-primary-secondary);
  }
}
.title {
  margin-bottom: 2rem;
}
.spacer {
  width: 2rem;
  height: 2rem;
  visibility: hidden;
}

.recipesContainer {
  display: grid;
  grid-template-columns: repeat(250px, 1fr);
  gap: 2rem;
}

@media (min-width: 550px) {
  .recipesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 850px) {
  .headerContainer {
    margin: 0 0 1rem;
  }
  .recipesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1300px) {
  .recipesContainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}
