.title {
  padding: 2rem 0;
}

.recipesContainer {
  display: grid;
  grid-template-columns: repeat(250px, 1fr);
  gap: 2rem;
}

@media (min-width: 550px) {
  .recipesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 850px) {
  .recipesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1201px) {
  .recipesContainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}
