.nutritionContainer {
  padding-bottom: 2rem;
}
.nutritionTable {
  width: 100%;
  border-collapse: collapse;
}

.nutritionTable td,
.nutritionTable th {
  border: 1px solid var(--clr-primary-4);
  padding: 8px;
  text-align: center;
  font-size: 1rem;
}

.nutritionTable th {
  background-color: var(--clr-primary-main);
}

@media (min-width: 670px) {
  .nutritionContainer {
    display: flex;
    justify-content: center;
  }

  .nutritionTable th {
    font-size: 1.1rem;
  }

  .nutritionTable td {
    font-size: 1.025rem;
  }
}

@media (min-width: 1025px) {
  .nutritionTable th {
    font-size: 1.15rem;
  }

  .nutritionTable td {
    font-size: 1.05rem;
  }
}
