.nutritionContainer {
  padding-bottom: 2rem;
}
.nutritionTable {
  width: 100%;
  border-collapse: collapse;
}

.nutritionTable td,
.nutritionTable th {
  border: 1px solid var(--clr-primary-6);
  padding: 8px;
  text-align: center;
}

.nutritionTable th {
  background-color: var(--clr-primary-main);
}

@media (min-width: 670px) {
  .nutritionContainer {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 750px) {
  .nutritionTable {
    width: 60%;
  }
}
