/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #1c1917;
  --clr-primary-2: #292524;
  --clr-primary-3: #44403c;
  --clr-primary-4: #57534e;
  /* primary/main color */
  --clr-primary-5: #78716c;
  /* lighter shades of primary color */
  --clr-primary-6: #a8a29e;
  --clr-primary-7: #d6d3d1;
  --clr-primary-8: #e7e5e4;
  --clr-primary-9: #f5f5f4;
  --clr-primary-10: #ffffff;
  --clr-primary-red: #de7777;
  --clr-dark-red: #b64040;

  --clr-primary-gold: #ffbd5a;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--clr-primary-10);
  color: var(--clr-primary-1);
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--clr-primary-red);
  text-transform: capitalize;
  line-height: 1.25;
  margin: 0.75rem 0;
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.15rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
p {
  color: var(--clr-primary-1);
  font-size: 1rem;
  margin: 1rem 0;
}
span {
  font-size: 1rem;
}
ul {
  list-style-type: none;
}
a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: var(--clr-primary-1);
}

button {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
}
